.product{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.product p{
    min-height: 4.5rem;
}

.product-img{
    height: 200px;
    width: 156px;
}
.product:hover .product-actions{
    opacity: 1;
}

.product-actions{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left:0;
    right:0;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold !important;
}

.product-info-img{
    height: 70vh;
}
.total-amount{
    background-color:darkolivegreen;
    padding: 10px;
    font-weight: bold;
    color:darkgray ;
}
.total-amount:hover{
    background-color:rgb(13, 78, 80);
}